@page "/category/add"
@inject HttpClient http
@inject NavigationManager navigation

<h2>New Category</h2>

<CategoryForm 
	Category="@category"
	OnValidSubmit="@AddCategory"
	ButtonTextSubmit="Edit"
	ButtonTextCancel="Cancel">
</CategoryForm>

@code {
	Category category = new Category();

	async Task AddCategory()
	{
		await http.PostAsJsonAsync("/api/category", category);
		navigation.NavigateTo("category");
	}
}
