@page "/category/edit/{categoryId:int}"
@inject HttpClient http
@inject NavigationManager navigation

<h2>Edit Category</h2>

<CategoryForm 
	Category="@category"
	OnValidSubmit="@EditCategory"
	ButtonTextSubmit="Edit"
	ButtonTextCancel="Cancel">
</CategoryForm>

@code {
	[Parameter]
	public int categoryId { get; set; }

	Category category = new Category();

	protected async override Task OnParametersSetAsync()
	{
		category = await http.GetFromJsonAsync<Category>($"api/category/{categoryId}");
	}

	async Task EditCategory()
	{
		await http.PutAsJsonAsync("api/category", category);
		navigation.NavigateTo("category");
	}
}
